* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    font-size: 16px;
    background-color: hsl(0, 100%, 74%);

}

section {
    max-width: 100%;
    width: 50%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(./bg-intro-desktop.png);
    background-size: cover;
    padding: 0px 160px;
}

.texto {
    color: white;
    padding-right: 60px;
}

h1{
    font-size: 50px;
    line-height: 56px;
    margin-bottom: 25px;
}

.texto p {
    font-size: 14px;
    line-height: 25px;
    opacity: 0.9;
}

.try {
    width: 90%;
    background-color:  hsl(248, 32%, 49%);
    color: white;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
    padding: 15px 20px;
    box-shadow: 10px 5px 20px hsl(249, 10%, 26%);
    padding-right: 30px;
}

.try span {
    font-weight: bold;
}

form{
    width: 90%;
    background-color: white;
    border-radius: 5px; 
    display: flex;
    flex-direction: column;
    padding: 35px;
    box-shadow: 10px 5px 20px hsl(249, 10%, 26%) ;
}

form div {
    display: flex;
    flex-direction: column;
}

.formulario p {
    color: hsl(246, 25%, 77%);
    font-size: 10px;
    margin: auto;
}

.formulario p span {
    color: hsl(0, 100%, 74%);
    font-weight: bold;
    cursor: pointer;
}

input, button {
    padding: 17px 25px;
    margin-bottom: 18px;
    border: 1px solid hsl(246, 25%, 77%);
    border-radius: 5px;
    font-weight: 600;
}

button {
    background-color: hsl(154, 59%, 51%);
    color: white;
    font-size: 16px;
    cursor: pointer;
}

input:focus,
button:focus{
    outline: none;
}

button:hover {
    opacity: 0.8;
}

.error {
    border: solid hsl(0, 100%, 74%);
    background: url(./icon-error.svg) no-repeat;
    background-position: 95% 50%;
}

.error-text {
    font-size: 12px;
    font-style: italic;
    margin-left: auto;
    margin-top: -15px;
    margin-bottom: 20px;
    color: hsl(0, 100%, 74%);
}

.success {
    border: solid hsl(154, 59%, 51%);
}

@media (max-width: 768px) {
    main {
        padding: 40px 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        }

        section {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .texto {
            text-align: center;
            padding: 40px 0px 60px;
        }

        form p {
            text-align: center;
        }

        .try {
            text-align: center;
            margin-bottom: 30px;
        }

        h1 {
            font-size: 38px;
        }
}